@use "colors";

.grid-flow {
  gap: 1.5rem;
  display: grid;
}

.flex-flow {
  display: flex;
  grid-gap: .5em;
  align-items: center;

  &[data-gap="auto"] {
    justify-content: space-between;
  }

  &[data-gap="fixed"] {
    gap: 1em;
  }
}

body {
  display: grid;
  color: colors.$white;
  place-content: center;
  background-color: colors.$main-bg;
}

.card {
  max-width: 20em;
  border-radius: 1em;
  padding: 1.5em 1.5em 2em;
  color: colors.$soft-blue;
  background-color: colors.$card-bg;
  box-shadow: 0 2em 4em rgba(0, 0, 0, .2);

  &__thumbnail {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border-radius: .5em;

    &--img {
      width: 100%;
      display: block;
    }

    &--overlay {
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      position: absolute;
      aspect-ratio: 1 / 1;
      place-content: center;
      background-color: transparent;
      transition: opacity 200ms ease-in-out;

      > svg {
        z-index: 1;
        position: relative;
      }

      &::before {
        top: 0;
        left: 0;
        content: '';
        opacity: .3;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: colors.$cyan;
      }
    }

    &:hover {
      .card__thumbnail {
        &--overlay {
          opacity: 1;
        }
      }
    }
  }

  &__title {
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 700;
    color: colors.$white;
    transition: all 200ms ease-in-out;

    &:hover {
      color: colors.$cyan;
    }
  }

  &__description {
    font-weight: 300;
    line-height: 150%;
  }

  &__stats {
    &__value {
      color: colors.$cyan;
    }

    &__timestamp {
      font-size: .78em;
    }
  }

  &__separator {
    border: .5px solid colors.$line;
  }

  &__author {
    font-weight: 300;

    &--avatar {
      height: 2em;
      border-radius: 50%;
      border: 1px solid colors.$white;
    }

    &--profile {
      color: colors.$white;
      transition: all 200ms ease-in-out;

      &:hover {
        color: colors.$cyan;
      }
    }
  }
}